DJANGO_ENV=development
DB_NAME=test
DB_USER=test
DB_PASSWORD=test
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
EMAIL_HOST_PASSWORD=supersensitive
EMAIL_HOST_USER=supersensitive
SECRET_KEY=supersensitive
DEBUG=boolean
FRONTEND_URL=localhost:3000

AWS_SECURITY_TOKEN=supersensitive
AWS_STORAGE_BUCKET_NAME=supersensitive
AWS_S3_SESSION_PROFILE=supersensitive
AWS_ACCESS_KEY_ID=supersensitive
AWS_SECRET_ACCESS_KEY=supersensitive
AWS_S3_ENDPOINT_URL=supersensitive